/* CSS Variables for Light and Dark Modes */
:root {
    --background-color: #fff;
    --text-color: #000;
    --header-background-color: #222;
    --header-text-color: #fff;
    --link-hover-color: #ff0000;
    --link-hover-border-color: #ff001e;
}

body.dark-mode {
    --background-color: #000;
    --text-color: #fff;
    --header-background-color: #222;
    --header-text-color: #fff;
    --link-hover-color: #ff0000;
    --link-hover-border-color: #ff001e;
}

/* General Styles */
body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/* Header Styles */
#header {
    background-color: var(--header-background-color);
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

#header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.logo {
    color: var(--header-text-color);
    font-size: 24px;
    font-weight: bold;
}

/* Navigation Styles */
nav ul.menu {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

nav ul.menu li {
    position: relative;
}

nav ul.menu a {
    color: var(--header-text-color);
    text-decoration: none;
    padding: 10px 15px;
    transition: color 0.3s;
}

nav ul.menu a.active,
nav ul.menu a:hover {
    color: var(--link-hover-color);
    border-bottom: 2px solid var(--link-hover-border-color);
}

nav ul.menu .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    list-style: none;
    padding: 10px 0;
}

nav ul.menu .dropdown:hover .dropdown-menu {
    display: block;
}

nav ul.menu .dropdown-menu li {
    padding: 5px 15px;
}

nav ul.menu .dropdown-menu a {
    padding: 5px 0;
}

/* Hero Section */
.hero {
    background: url('jpg/backgroundas.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-content h2 {
    font-size: 50px;
    margin-bottom: 20px;
}

/* Mode Toggle Button */
.mode-toggle {
    background-color: var(--header-background-color);
    color: var(--header-text-color);
    border: 2px solid var(--link-hover-border-color);
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.mode-toggle:hover {
    background-color: var(--link-hover-color);
}